.CardContainer {
  background-color: black;
  color: white;
  position: sticky;
  z-index: 2;
  display: flex;
  top: 56px;
  right: 0;
  height: 20rem;
  border: 8px solid #ac3f21;
}
.CardContainer h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 1rem;
}
.CardContainer img {
  border: 5px solid #ac3f21;
  border-radius: 50%;
}
.CardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CardContent p {
  font-size: 1.3rem;
}
.CardContent span {
  font-size: 2rem;
  padding: 1rem;
  color: #ac3f21;
}
.ActionButtons button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ac3f21;
  color: white;
  font-size: 1.5rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.ActionButtons button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.ActionButtons button:focus {
  outline: none;
}
.ActionButtons button:disabled,
.ActionButtons button[disabled] {
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.ActionButtons .CancelBtn {
  margin-left: 2rem;
  display: inline-block;
  background-color: #ac3f21;
  color: white;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 60px;
  height: 100%;
  border-radius: 5px;
}
.ActionButtons .CancelBtn:hover {
  background-color: #4d2a07;
}

.FloatingText {
  position: fixed;
  font-size: 2rem;
  color: orange;
}

.Disabled {
  cursor: not-allowed;
  border: 0;
  color: #666666 !important;
  background-color: #cccccc !important;
}

@media (max-width: 500px) {
  .CardContainer {
    display: none;
  }
}
