.Container {
  background: #ffa45c;
  height: 30vh;
  width: 100%;
  display: flex;
}

.Title {
  background: #ffa45c;
  text-align: center;
  padding-top: 2rem;
  color: brown;
}

.CustomerCard {
  background: brown;
  border-radius: 25px;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
.CustomerCard img {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.CustomerCard p {
  color: white;
}
.CustomerCard i {
  color: #ffa45c;
}