.Container {
  background: #ffa45c;
  min-height: 30vh;
  width: 100%;
  display: flex;
}

.Title {
  background: #ffa45c;
  text-align: center;
  padding: 2rem 0;
  color: brown;
}

.CustomerCard {
  background: brown;
  border-radius: 25px;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
.CustomerCard img {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.CustomerCard p {
  color: white;
}
.CustomerCard i {
  color: #ffa45c;
}

@media(max-width: 600px) {
  .Container {
    height: auto;
    display: block;
  }
  .CustomerCard {
    width: 80%;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
}