* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CardContainer {
  width: 300px;
  border: 4px solid #ac3f21;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.Overlay {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ContentBox {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.Overlay h2 {
  text-decoration: underline;
}
.Overlay ul {
  padding: 0;
}

.Overlay ul li {
  list-style-type: none;
  font-weight: 700;
}
.CardContainer img {
  width: 100%;
  height: 15rem;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* z-index: -1; */
  transition: opacity 300ms ease-out;
}
.CardContainer img:hover {
  opacity: 0.2;
}

/* .OverlayButton {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 100%;
  height: calc(100% - 15rem);
  border: 3px solid pink;
  transition: all 1s ease;
  opacity: 0;
}
.OverlayButton button {
  position: relative;
  
}
.OverlayButton:hover {
  transform: rotateY(180deg);
  opacity: 1;
} */

.ProductInfo {
  text-align: left;
  width: 100%;
  /* border: 3px solid black; */
}
.ProductInfo div, .ProductPrice {
  font-weight: 700;
  font-size: 1.3rem;
}
.ProductInfo .ProductDesc {
  margin: .5rem;
} 
.ProductInfo button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.1rem;
  background-color: #ac3f21;
  border-radius: 20px 0 0 10px;
} 
.ProductInfo button {
  outline: none;
}
.OrderNow {
  display: none;
}


/* .OrderButton:hover,
.OrderButton:active {
  background-color: #a0db41;
  border: 1px solid #966909;
  color: #966909;
} */

@media (max-width: 500px) {
  .CardContainer {
    margin: 1rem auto;
  }
  .OrderNow {
    display: inline-block;
  }
  .ShowMore {
    display: none;
  }
}
