.BreadBottom {
  height: 30%;
  width: 90%;
  margin-top: -2rem;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 0;
}

.BreadTop {
  height: 20%;
  width: 100%;
  border-radius: 50% 50% 0 0;
  position: relative;
}

.Meat {
  width: 90%;
  height: 14%;
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 15px;
  z-index: 2;
  position: relative;
}

.Cheese {
  width: 90%;
  height: 4.5%;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.Salad {
  width: 85%;
  height: 7%;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

.Bacon {
  width: 80%;
  height: 8%;
  background: linear-gradient(#bf3813, #c45e38);
}
