.Sample {
  width: 30%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;

  padding: 2rem 0;
  margin-left: 2rem;
  border: 3px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.Title {
  color: white;
  z-index: 2;
  height: 10%;
}

.ShopLink {
  color: red;
  padding: .5rem 1rem;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  border: 5px solid red;
  border-radius: 20px;
  z-index: 2;
}
.ShopLink:hover {
  background: lightgray;
}

@media (max-width: 380px) {
  .Sample {
    height: 30vh;
    display: flex;
    justify-content: space-between;
  }
  .ShopLink {
    font-size: 1.25rem;
    margin-top: 1rem;
    border: 3px solid red;
  }
}

@media (max-width: 1120px) {
  .Sample {
    width: 50%;
    height: 50vh;
  }
  .Sample:last-of-type {
    display: none;
  }
}

@media (max-width: 750px) {
  .Sample:first-of-type {
    display: none;
  }
  .Sample {
    width: 90%;
  }
}