.Input {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.Label {
  position: absolute;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: 8px;
  top: 0;
  bottom: 0;
  left: 1rem;
  width: 100%;
  transition: 0.2s;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: 4px solid #ac3f21;
  /* border: #AC3F21 3px solid; */
}

.Invalid {
  outline: 4px solid red !important;
  background-color: #ccc;
}

input:focus + label {
  top: 0%;
  margin-top: -.4rem;
  visibility: visible;
  /* margin-left: 10px; */
  color: white;
}
