.Container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
  background-color: brown;
}
.Box {
  width: 100%;
  background-color: #ac3f21;
}


@media (max-width: 500px) {
  .Container {
    display: block;
    padding: 3rem;
    width: 100%;
  }
  .Sample {
    width: 100%;
    margin-left: 0;
    height: auto;
    margin-bottom: 1rem;
  }
}
