.Container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 500px);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}

@media (max-width: 1260px) {
  .Container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 940px) {
  .Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px) {
  .Container {
    grid-template-columns: repeat(1, 1fr);
  }
}
