.Container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 500px);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}

@media (max-width: 500px) {
  .Container {
    display: block;
  }
}